# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.whl

# Virtual Environment
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# MacOS
.DS_Store